{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="hero min-h-screen bg-base-200 relative m-1 p-1 bg-emerald-100">
    <div class="hero-content flex-row lg:flex-col absolute">
      <div>
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6"></p>
      </div>
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body" method="POST">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Username</span>
            </label>
            <input type="text" placeholder="username" name="username" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" name="password" class="input input-bordered" required />
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary" href="url_for('auth.login')">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
