{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form action="" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="password2">Confirm Password</label>
    <input type="password" name="password2" id="password2">
    <label for="city">Location</label>
    <input type="text" name="city" id="city" placeholder="City">
    <input type="submit" value="Register">
</form>
{% endblock %}
