{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if detail %}
    <div class="max-w-2xl mx-auto mt-10 p-6 bg-gradient-to-r from-pink-500 to-purple-700 text-white rounded-lg shadow-md">
      <h1 class="text-4xl font-bold mb-4"> Name: {{ detail.username.capitalize() }}</h1>
      <p class="text-lg mb-4">Email: {{ detail.email }}</p>
      <p class="text-lg mb-4">City: {{ detail.city.capitalize() }}</p>
      <a href="{{ url_for('user.user_library', use=detail.id) }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full transition duration-300 ease-in-out transform hover:scale-105">
        Explore {{ detail.username }}'s Library
    </a>
    </div>
  {% else %}
    <div class="hero min-h-screen bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 text-white flex items-center justify-center">
      <div class="text-center">
        <h1 class="text-5xl font-bold mb-4">Welcome Back {{ current_user.username.capitalize() }}!</h1>
        <p class="text-lg mb-8">Unlock the world of endless stories. Trade a book, share a journey. Welcome to our Book Trading Platform, where every exchange is a step into a new adventure.</p>
      </div>
      <img src="{{ url_for('static', filename='img/happy.jpg') }}" class="max-w-md rounded-full shadow-2xl" alt="Happy Reader Image" />
    </div>
  {% endif %}

  <div class="min-h-screen bg-teal-100 p-6">
    <h1 class="text-5xl font-bold mb-8">Search for a Book</h1>
    <form class="flex items-center space-x-4" method="POST" action="{{ url_for('book.search_book') }}">
      <input type="text" name="book_name" placeholder="Search book" class="w-64 h-12 px-4 rounded-md  focus:outline-none focus:ring focus:border-blue-300">
      <button type="submit" class="btn btn-primary h-12 bg-blue-500">Search</button>
    </form>

    <div class="my-12">
    {% if books %}
    <h1 class="text-3xl font-bold mb-8">Newly Added Books</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-2 gap-x-2 gap-y-8 mx-auto my-4">
      {% for det in books%}
      {% if current_user.username != det[1] %}
          <div class="card card-side bg-base-100 p-6 max-w-md border-4 border-double border-blue-500">
              <img src="{{ det[6] }}" alt="book cover" class="rounded-md max-h-36 shadow-sm" />
              <div class="card-body py-0 pr-0">
                  <h2 class="card-title">{% if det[4] %}{{ det[4]}}{% else %}Unknown{% endif %}</h2>
                  <p class="text-sm text-base-content">{% if det[5] %}{{ det[5]}}{% else %}Unknown Author{% endif %}</p>
                  <div class="card-actions justify-end">
                      <a class="btn btn-outline" href="{{url_for('trade.send_request',to=det[0],book_id=det[3])}}">Trade with {{det[1]}}</a>
                      <a class="btn btn-outline" href="{{ url_for('book.book_info', book_id=det[3]) }}">Info</a>
                  </div>
              </div>
          </div>
      {% endif %}
      {% endfor %}
    </div>
{% endif %}
</div>
  </div>
{% endblock %}
