{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4">
        Profile
        {% if current_user.username == user.username %}
        <span class="text-sm"><a href="{{ url_for('user.settings') }}" class="text-blue-500">Edit</a></span>
        {% endif %}
    </h1>

    <div class="bg-gray-200 p-4 rounded-lg mb-4">
        <h2 class="text-xl font-semibold">{{ user.username.capitalize() }}</h2>
        <p class="text-gray-600">{{ user.city.capitalize() }}</p>
        <p class="text-gray-600">{{ user.email }}</p>
    </div>
</div>
{% endblock %}
