<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="navbar bg-base-100">
        <div class="navbar-start">

            <a class="btn btn-ghost text-xl" href="{{url_for('main.index')}}">
                <img src="{{url_for('static', filename='img/logo.jpg')}}" alt="logo" class="w-10 h-10">
                <span>Book Mart</span>
            </a>
        </div>
        <div class="navbar-end">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{url_for('auth.logout')}}">Logout</a>
            {% else %}
            <a class="btn" href="{{url_for('auth.login')}}">Login</a>
            <a class="btn" href="{{url_for('auth.signup')}}">Signup</a>
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>